.input{
    margin-top: 60px;
    margin-bottom: 80px;
   text-align: center;
}

.list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.head{
    text-align: center;
}